gradio
rm_anime_bg
# for 2D_stage
torch
torchvision
xformers
accelerate
transformers
diffusers==0.24.0
ipdb
einops
omegaconf
imageio
onnxruntime
# for 3D_stage
pytorch_lightning
jaxtyping
wandb
lpips
git+https://github.com/NVlabs/nvdiffrast
ninja
open3d
trimesh
pymeshlab
pygltflib
